<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page - {{ color }}</title>
    <style>
        body {
            background-color: {{ color }};
        }
    </style>
</head>
<body>
    <h1>Actual Color: {{ color }}</h1>
    <p>Welcome to Flask-APP HTTP-Color</p>
    <p>
        Através de uma variável de ambiente é possível setar a cor de fundo da página
        a ser exibida!
    </p>
    <p>Author: Engels Souza engels.franca@gmail.com</p>
</body>
</html>
